 
version: '3.3'

services:
  mysql :
    image : mysql:8-debian
    container_name : mysql
    hostname: mysql
    restart: always
    expose :
      - "3306"
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "true"
    volumes :
      - ./sql/:/docker-entrypoint-initdb.d/
      - sqldata:/var/lib/mysql
    networks:
      glpi_project:
  glpi:
    image: debian:11
    container_name: glpi
    hostname: glpi
    restart: always
    ports:
      - 443:443
    env_file:
      - secrets.env
    volumes:
      - ./ssl/ssl.key:/etc/ssl/glpi.key
      - ./ssl/ssl.crt:/etc/ssl/glpi.crt
      - ./front/vhost_glpi.conf:/etc/nginx/sites-available/glpi.conf
      - ./scripts/glpi-setup.sh:/usr/local/bin/glpi-setup.sh
    networks:
      glpi_project:
    depends_on:
      - mysql
    command: /usr/local/bin/glpi-setup.sh
  ocs:
    image: ocsinventory/ocsinventory-docker-image:2.10
    container_name: ocs
    hostname: ocs
    restart: always
    ports:
      - 8443:443
    env_file:
      - secrets.env
    volumes:
      - ./ssl/ssl.key:/etc/ssl/private/ocs.key
      - ./ssl/ssl.crt:/etc/ssl/certs/ocs.crt
      - ./front/vhost_ocs.conf:/etc/nginx/sites-available/ocs.conf
      - ./scripts/ocs-setup.sh:/usr/local/bin/ocs-setup.sh
      - ./front/ocs_nginx.conf:/root/nginx.conf
    networks:
      glpi_project:
    depends_on:
      - mysql
    command: /usr/local/bin/ocs-setup.sh

 
networks:
  glpi_project:

volumes:
  sqldata:
