CREATE DATABASE IF NOT EXISTS ${glpi_database_name};
CREATE USER '${glpi_database_user}'@'%' IDENTIFIED WITH mysql_native_password BY '${glpi_database_password}';
GRANT ALL PRIVILEGES ON ${glpi_database_name}.* TO '${glpi_database_user}'@'%';
FLUSH PRIVILEGES;

CREATE DATABASE IF NOT EXISTS ${OCS_DB_NAME};
CREATE USER '${OCS_DB_USER}'@'%' IDENTIFIED WITH mysql_native_password BY '${OCS_DB_PASS}';
GRANT ALL PRIVILEGES ON ${OCS_DB_NAME}.* TO '${OCS_DB_USER}'@'%';
FLUSH PRIVILEGES;